NEXT_PUBLIC_SUPABASE_URL=https://sswsopglqaraajtbjvxj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzd3NvcGdscWFyYWFqdGJqdnhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MTUwNDUsImV4cCI6MjEwMzk5MTA0NX0.h__yXPsVUHYolknfn-l-1H3aOBeDUrrRIEQXZU5kZCY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzd3NvcGdscWFyYWFqdGJqdnhqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODQxNTA0NSwiZXhwIjoyMTAzOTkxMDQ1fQ.i8_A7Gj3mpGidPJ_WuwsIcSjF9_IJaGCzl-DX6VJIiU
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Add this URL to Supabase Auth redirect URLs:
# http://localhost:3000/auth/callback
